#pet-image {
  min-width: 400px;
  min-height: 400px;
  /* background-image: url("../src/img/pooping-pet.gif"); */
  background-repeat: no-repeat;
  margin-bottom: 20px;
  border: 2px solid red;
  display: block;
}

#gameOver, #buttonRow {
  display: none;
}

#petStats {
  padding: 5px;
  border: 2px solid blue;
  margin: 10px;
}

.gameSection {
  display: flex;
  flex-wrap: wrap;
}